// Variables color
$color-1: #FF6060;

* {
    box-sizing: border-box;
}

body {
    max-width: 1440px;
    margin: 0 auto;
    background-color: white;
    font-family: Montserrat, sans-serif;
}

//Style Header
header {
    display: flex;
    justify-content:space-between ;
    align-items: center;
    margin: 20px auto;
    max-width: 1240px;

    .navigation {
        ul {
            display: flex;
            flex-direction: row;
            list-style: none;

            li {
                margin: 20px;
                font-size: 24px;
                font-weight: 500;

                a {
                    color: black;
                    text-decoration: none;

                    &.nav-active {
                        text-decoration: underline;
                    }
                }
            }
        }
    }            
}

//Style Footer
footer {
    background-color: black;
    width: 100%;
    height: 209px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;

    img {
        margin-top: 50px;
    }

    p {
    color: white;
    font-size: 24px;
    margin-top: 50px;
    }
}

// Style Banner (page Home et About us)
.banner {
    margin: 20px auto;
    max-width: 1240px;
    
    .banner-container {
        background: center/cover ;
        height: 223px;
        border-radius: 25px;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3) ;
        display: flex;
        justify-content: center; 
        align-items: center;
        

        h1 {
            color: white;
            font-size: 48px;
            font-weight: 700;
        } 
    }
}      

//Style gallery (page Home)
.gallery {
    max-width: 1240px;
    height: auto;
    background-color: #F6F6F6;
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  	gap: 30px;
    margin:30px auto;
    padding: 20px;
    box-sizing: border-box;

        a {
            text-decoration: none;

        .card {
            width: 340px;
            height: 340px;
            background: rgb(235, 69, 69);
            background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(10, 10, 10, 0) 42%, rgba(4, 4, 4, 0.205) 99.99%, rgba(0, 0, 0, 0.5) 100%);
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 15px;
    
            img {
                width: 100%;
                height : 80%;
                border-radius: 10px 10px 0 0;
                object-fit: cover;
            }

            h2 {
                font-size: 18px;
                color: white;
                width: 80%;
                margin: 10px;
                text-align: left;
            }
        }
    }   
} 

//Style collapse (Page About us)
.collapses-container {
    display: flex;
    margin: 50px auto ;
    justify-content: center;
    align-items: center;

    .collapses {
        width: 100%;
        max-width: 1023px;

        .collapse {
            margin-bottom: 30px;

            .collapse-title {
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 20px;
                background: $color-1;
                color: white;
                font-weight: 700;
                padding: 1rem;
                font-size: 24px;

                &:hover {
                    cursor: pointer;
                }

                .collapse-icon {
                    color: white;
                    font-size: 24px;
                    transition: transform 0.6s;
                    
                    &.active {
                        transform: rotate(-180deg);
                    }
                }
            }
            .collapse-content {
                font-size: 18px;
                background-color: #F6F6F673;
                border-radius: 5px;
                display: flex;
                align-items: center;
                text-align:justify;
                padding : 10px;
            }
        }
    }
}

//Style page Fiche Logement
//Style pour slideshow
.carousel {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 1240px;
    height: 415px;
    margin: 20px auto;
    position: relative; //Important pour le positionnement du compteur
    
}
.carousel-inner {
    position: relative;
    width: 100%;
    height: 100%;
    
}
.slide {
    display: none;
}
.slide.active {
    display: block;
}
.slideshow-img {
    width: 100%;
    height: 415px;
    object-fit: cover;
    object-position: center;
    border-radius: 25px;
} 
.arrow-right {
    position: absolute;
    right: 10px;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%); /* Centrage vertical précis */
    width: 96px;
}
.arrow-left {
    position: absolute;
    left: 10px;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%); /* Centrage vertical précis */
    width: 96px;
}
.counter {
    position: absolute;
    font-size: 18px;
    color: white;
    left: 50%;
    bottom: 5%;
}

// Style pour les détails de la fiche logement, sous le carrousel


// Style Page Error
.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;

    h2 {
        font-size: 180px;
        color : $color-1;
        margin: 0;
        }

    p {
        font-size: 36px;
        color: $color-1;
        margin: 60px 0;
        max-width: 872px;
    }
    .error-link {
        font-size: 18px;
        color: black;
        margin: 60px 0;
    }   
}



@media screen and (min-width:320px) and (max-width: 767px) {
    header, main {  
        padding-left: 20px;
        padding-right: 20px;
        max-width: 100%;
    }
    .navigation ul li a {
        font-size: 12px;
    } 
    
    .banner .banner-container {
        width: 355px;
        height: 111px;
    }
        
    .banner .banner-container h1 {
            font-size: 24px;
        } 

    .gallery {
        background-color: white;    
    
        .card {
            width: 100%; 
            margin: 0;
        }
    }    
    

}      
                   

