
* {
    max-width: 1440px;
}
body {
    margin: 0px 20px 0px 20px;
    background-color: white;
    font-family: Montserrat, sans-serif;
    width: 1240px;
}
// Variables color
$color-1: #FF6060;

//Style Header
header {
    display: flex;
    justify-content:space-between ;
    align-items: center;
    margin-top: 20px;
    width: 1240px;
}

.navigation ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}
.navigation li {
    margin: 20px;
    font-size: 24px;
    font-weight: 500;
}
.navigation li a {
    color: black;
    text-decoration: none;
}
.navigation li a.nav-active {
    text-decoration: underline;
  }


// Style Banner
.banner {
    margin: 20px 0;
}

.banner-container {
    background: center/cover ;
    width: 100%;
    height: 223px;
    border-radius: 25px;
    border: 1px solid black;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3) ;
    display: flex;
    justify-content: center; 
    align-items: center;
}
.banner-container h1 {
    color: white;
    font-size: 48px;
    font-weight: 700;
}

//Style gallery
.gallery {
    width: 1240px;
    height: auto;
    background-color: #F6F6F6;
    border-radius: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
	grid-row-gap: 30px;
    justify-items: center;
    margin:30px auto;
}
.card {
    width: 340px;
    height: 340px;
    background: rgb(235, 69, 69);
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(10, 10, 10, 0) 42%, rgba(4, 4, 4, 0.205) 99.99%, rgba(0, 0, 0, 0.5) 100%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
 
}
.card img {
    width: 100%;
    height : 80%;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
}
.card h2 {
    font-size: 18px;
    color: white;
    width: 300px;
    margin-left: 20px;
}

//Style Footer
footer {
    background-color: black;
    width: 100%;
    height: 209px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}
footer img {
    margin-top: 50px;
}
footer p {
    color: white;
    font-size: 24px;
    margin-top: 50px;
}

