
* {
    max-width: 1440px;
}
body {
    margin: 20px;
    background-color: white;
    font-family: Montserrat, sans-serif;
}
// Variables color
$color-1: #FF6060;

//Style Header
header {
    display: flex;
    justify-content:space-between ;
    align-items: center;
    margin-top: 20px;
}

.navigation ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}
.navigation li {
    margin: 20px;
    font-size: 24px;
    font-weight: 500;
}
.navigation li a {
    color: black;
    text-decoration: none;
}
.navigation li a.nav-active {
    text-decoration: underline;
  }


// Style Banner
.banner {
    margin: 20px 0;
}

.banner-container {
    background: center/cover ;
    width: 100%;
    height: 223px;
    border-radius: 25px;
    border: 1px solid black;
    box-shadow: 0px 10px 14px 0px rgba(0, 0, 0, 0.3) ;
    display: flex;
    justify-content: center; 
    align-items: center;
    
    
}
.banner-container h1 {
    color: white;
    font-size: 48px;
    font-weight: 700;
    //z-index: 1;
}


//Style Footer
footer {
    background-color: black;
    width: 100%;
    height: 209px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}
footer img {
    margin-top: 50px;
}
footer p {
    color: white;
    font-size: 24px;
    margin-top: 50px;
}

